{{define "body"}}
    <main class="custom-page" style="{{ .GetBackground }}">
        <div class="header">
            <h2>{{ .Title }}</h2>
            <nav>
                <a href="/">Home</a>
            </nav>
        </div>
        {{ range $content := .Content }}
            {{ .Get }}
        {{ end }}
    </main>
{{end}}
