{{define "body"}}
    <main class="custom-page" style="{{ .GetBackground }}">
        <div class="header">
            <h1 class="header__title">{{ .Title }}</h1>
            <nav>
                <a href="/">Home</a>
                <a href="/now">Now</a>
            </nav>
        </div>
        {{ .GetContent }}
    </main>
{{end}}
