{{define "body"}}
    <main class="custom-page" style="{{ .GetBackground }}">
        <h2>{{ .Title }}</h2>
        {{ range $content := .Content }}
            {{ .Get }}
        {{ end }}
    </main>
{{end}}
