@use "../node_modules/reset-css/reset.css";
@use "tag";
@use "vars";

:root {
  --text-color: #000;
  font-size: 18px;
}

@font-face {
  font-family: "custom";
  src: url("/static/font.woff2");
}

body {
  --background-image: ;
  font-family: "custom", Raveo, Inter, Roboto, sans-serif;
  background: #000;
  background-size: cover;
  color: var(--text-color);
  @media only screen and (min-width: vars.$bp-little) {
    background: var(--background-image) center fixed no-repeat black;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  width: 100%;
  @media only screen and (max-width: vars.$bp-little) {
    min-height: 100vh;
    height: auto;
  }
}

a {
  color: var(--text-color);
}

.credits {
  display: flex;
  gap: 1rem;
  font-size: 16px;
  margin-left: 1rem;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width: vars.$bp-little) {
    gap: 0;
    align-items: center;
    font-size: 14px;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  & a {
    color: var(--text-color);
  }
  & p {
    @media only screen and (max-width: vars.$bp-little) {
      text-align: center;
    }
  }
}

main {
  width: 50%;
  padding: 2rem;
  border-radius: 32px;
  box-shadow: 0 0 70px 2px rgba(0,0,0,0.75);
  transition: .3s;
  max-height: 75vh;
  overflow: auto;
  scrollbar-width: thin;
  max-width: 800px;
  & h1, h2, h3 {
    margin: 0;
  }
  @media only screen and (max-width: vars.$bp-mid) {
    width: 80%;
  }
  @media only screen and (max-width: vars.$bp-little) {
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    max-height: none;
    border-radius: 0;
  }
}

h1, h2, h3 {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

p {
  margin-bottom: 0.5rem;
  line-height: 1.25em;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  @media only screen and (max-width: vars.$bp-little) {
    font-size: 1.425rem;
  }
}

h3 {
  font-size: 1.35rem;
}

h4 {
  font-size: 1.25rem;
}

ul, ol {
  margin-bottom: 1rem;
}

ul {
  list-style: disc inside;
}

ol {
  list-style: decimal inside;
}

li {
  margin-bottom: 0.25rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media only screen and (max-width: vars.$bp-little) {
    flex-direction: column;
    align-items: normal;
    gap: 0.5rem;
  }
  & nav {
    display: flex;
    gap: 1rem;
    @media only screen and (max-width: vars.$bp-little) {
      margin-bottom: 1rem;
    }
  }
  & .header__title {
    margin-bottom: 1rem;
    @media only screen and (max-width: vars.$bp-little) {
      margin-bottom: 0.25rem;
    }
  }
}

.presentation {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-left: calc(33% - 135px);
  color: var(--text-color);
  @media only screen and (max-width: vars.$bp-large) {
    margin-left: 0; 
  }
  @media only screen and (max-width: vars.$bp-little) {
    flex-direction: column;
  }

  &__information {
    display: flex;
    //width: 100%;
    margin-right: 1rem;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.5rem;
    @media only screen and (max-width: vars.$bp-large) {
      align-items: center;
    }
    @media only screen and (max-width: vars.$bp-little) {
      margin-right: 0;
      text-align: center;
    }
    & p {
      margin: 0;
    }
  }
  & figure {
    display: inline;
    @media only screen and (max-width: vars.$bp-little) {
      margin-top: 2rem;
    }
    & img {
      height: 128px;
      border-radius: 32px;
      box-shadow: 0 0 50px -20px rgba(0,0,0,0.75);
    }
  }
  & h2, p {
    display: inline;
  }
}

.links {
  --text-color-hover: var(--text-color);
  --background: #000;
  --background-hover: var(--background);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;
  width: 100%;
  column-gap: 1rem;
  row-gap: 0.5rem;
  @media only screen and (max-width: vars.$bp-little) {
    grid-template-columns: 1fr;
    column-gap: 0.5rem;
    align-items: center;
    margin-bottom: 2rem;
    direction: rtl;
  }
  & .link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 50px -20px rgba(0,0,0,0.75);
    border-radius: 16px;
    background: var(--background);
    transition: .2s;
    @media only screen and (max-width: vars.$bp-little) {
      width: 100%;
    }
    &:hover {
      background: var(--background-hover);
      transition: .2s;
    }
  }
  & a {
    display: block;
    color: var(--text-color);
    text-decoration: none;
    text-align: center;
    padding: 1em;
    width: 100%;
    transition: .2s;
    &:hover {
      color: var(--text-color-hover);
      transition: .2s;
    }
  }
}

.rings {
  position: absolute;
  right: 4rem;
  bottom: 4rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 3rem;
  @media only screen and (max-width: vars.$bp-little) {
    left: 2rem;
    right: 2rem;
  }
  &.fixed {
    position: fixed;
  }
}

.ring {
  display: block;
  height: 100%;
  & img {
    height: 100%;
  }
}

.credits-legal {
  max-width: 800px;
  padding: 0 2rem 1rem 2rem;
  border-radius: 32px;
}

.custom-page {
  & h2, h3 {
    margin-bottom: 0.5rem;
  }
  & .links {
    margin-top: 1rem;
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
