@use "vars";

.tags {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1rem;
  column-gap: 2rem;
  row-gap: 1rem;
  @media only screen and (max-width: vars.$bp-little) {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  & h4 {
    @media only screen and (max-width: vars.$bp-little) {
      margin-bottom: 0.5rem;
    }
  }
  & p {
    display: block;
    margin-top: 0.5rem;
  }
}

.tag {
  cursor: pointer;
  padding: 0.5rem;
  margin: -0.5rem;
  border-radius: 8px;
  @media only screen and (max-width: vars.$bp-little) {
    cursor: auto;
  }
  &.active {
    & h4 {
      margin-bottom: 0.5rem;
    }
    & p {
      display: block;
    }
  }
}
